@model WebApp.Domain.RSA

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RSA</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Plaintext)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Plaintext)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlaintextBytes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlaintextBytes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrimeP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimeP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrimeQ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimeQ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublicKeyN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublicKeyN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modulus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modulus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Exponent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Exponent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EncryptedBytes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EncryptedBytes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
